body{
    background-color:#4267B3;
    }
    
    .signupbtn {
     
      float: right;
      margin-right:15px;
      border-radius: 12px;
      padding: 14px 20px;
      background-color:skyBlue;
    
    }
    
    table {
      background-color:powderblue;
      margin-top:90px;
      
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 6px solid #dddddd;
      text-align: left;
      padding: 20px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }